body{
    background-color: #eee;
}
.Todo{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
.Todo-body{
    width: 100%;
    max-width: 400px;
    background-color:lightblue;
    height: 300px;
    border-radius: 16px;


}
.Todo-title{
    color:blue;
    text-align: center;
}
.style1{
    background-color: green;
    color:white;
    padding: 0px 20px 0px 20px;
    border-radius: 3px;
}
button{
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 3px;
}
.style2{
    border-radius: 3px;
}