.Game{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    color: black;
    text-align: center;
    margin-top: 20px;
}
.style1{
    color: red;
    text-align: center;
    font-weight: bold;
}
.style2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.item:hover{
    background-color: #ffe4d6;
    cursor:pointer;
}
#btn{
    margin: 5px;
}
#btn:hover{
    background-color: orange;
    color: black;
}